@model UploadModel

<form method="post" action="/home/upload" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" />
    <input type="text" name="title" class="form-control" placeholder="Title" />
    <button class="btn btn-info">Upload</button>
</form>